.modal {
    z-index: 300;
    position: fixed;
    padding-top: 100px;
    transform: translate(0, 0);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    overscroll-behavior: contain;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.header-title {
    font-size: 1.8em;
    font-weight: bold;
}

.global-conf {
    display: flex;
    gap: 3em;
}

.global-conf-title {
    font-weight: bold;
    margin: 2px;
    margin-bottom: 0.5em;
}

.global-conf input {
    margin: 2px;
}

.global-conf label {
    margin: 2px;
}

.series-conf {
    margin-bottom: 0.5em;
}

.content {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #121212;
    margin: auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #696969;
    border-radius: 10px;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.links label {
    display: inline-block;
    width: 120px;
}

button {
    background-color: #303030;
    border: 2px solid #303030;
    border-radius: 5px;
    color: #ffffff;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

.login-button {
    width: 200px;
}

.links input,
input[type="text"],
input[type="password"] {
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    border: 1px solid #303030;
    border-radius: 5px;
    color: #ffffff;
    background-color: #303030;
    font-size: 16px;
    width: 100%;
    max-width: 800px;
}

.links .search-input {
    margin-top: 16px;
}

.button-container {
    margin-top: 8px;
}

.button-note {
    font-size: 14px;
    margin: 5px 2px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.result-note {
    font-size: 14px;
    margin-bottom: 1em;
}

.result-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.result-header-with-note {
    margin-bottom: 0.25em;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.result-card {
    border: 1px solid #000;
    background-color: #232323;
    flex-basis: 400px;
    flex-grow: 1;
}

.result-card .thumb {
    float: left;
    margin-right: 4px;
    width: 106px;
}

.result-card img {
    display: block;
    height: 150px;
    width: 106px;
    object-fit: contain;
}

.result-card details {
    margin: 5px;
}

.result-card summary {
    font-weight: bold;
}

.result-card summary span {
    text-transform: capitalize;
}

.result-card button {
    margin: 0.5em;
    padding: 3px 8px;
    border: 1px solid #404040;
    font-size: 14px;
}

.result-card ul {
    margin-top: 0.25em;
    padding-left: 10px;
    list-style: inside;
    overflow: auto;
}

.mu-login {
    z-index: 310;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mu-login form {
    width: 100%;
    max-width: 540px;
    background-color: #121212;
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 1em;
}

.mu-login div {
    margin: 6px;
}

.mu-login .mu-login-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 12px;
}

.mu-login .mu-login-desc {
    font-size: smaller;
    margin-bottom: 12px;
}

#mu-login-error {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 12px;
}
